# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.swiftpm/
.build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
Config/Secrets.local.xcconfig

# macOS
.DS_Store

__pycache__/
